body {
  margin: 26px 30px 30px 30px;
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", "Lato", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 200;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	background: #fdfdfd;
	color: black;
	word-wrap: break-word;
  line-height: 1.2em;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

a:link    {color:#586e75;}
a:visited {color:#586e75;}
a:hover   {color:#586e75;}
a:active  {color:#586e75;}

#tweets span {
	float: left;
}

p {
  word-wrap: break-word;
}

#container {
	font-size: 4.5em;
}

.clearboth {
  clear: both;
}

#tweet {
  line-height: 1.2em;
}

#credits {
  position:absolute;
  bottom:0;
  height:90px;
	font-weight: 100;
  font-size: 18px;
	color: #586e75;
  line-height: 2em;
  background-color: #fdfdfd;
}

#credits .description {
  font-size: 1.5em;
}

.pending {
  display: none;
	opacity: 0.3;
	position: absolute;
	bottom: 30px;
	font-size: 12px;
	line-height: 12px;
}

.evicted {
  display: none;
	opacity: 0.1;
	position: absolute;
	bottom: 48px;
	font-size: 11px;
	line-height: 12px;
}

.defiantly {
  font-style: italic;
}

.screen_name {
	color: #586e75 !important;
	font-size: 30px;
	clear: left;
}

.time_since {
	font-weight: 100;
	color: #586e75 !important;
	font-size: 30px;
	clear: left;
	opacity: 0.4;
  line-height: 0.8em!important;
}

#tweets .tweet {
    padding: 10px 20px 10px 20px;
    float: left;
}

.tweet_image {
    width: 48px;
    margin-right: 12px;
    float: left;
    padding-top: 2px;
}

.tweet_image img {
    width: 48px;
    height: 48px;
}

.tweet_text {
    float: left;
}

.content {
    padding: 0px;
}

#loading {
  text-align:center;
	font-size: 3.5em;
  left: 0;
  line-height: 60px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 45%;
  width: 100%;
}

#loading-description {
  font-weight: 100;
  font-size: 0.5em;
  padding-right: 50px;
}

#loading-feedback {
  width:50px;
  display: inline-block;
  text-align: left;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  body {
    font-weight: 100;
    font-family: "Helvetica Neue", "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Lato", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }

  #loading {

  }

  #loading-description {
    font-family: "HelveticaNeue-UltraLight";
  }

  #credits {
    font-family: "HelveticaNeue-UltraLight";
    height: 110px;
  }

  #container {
    padding-top:0px;
    margin-top: 10px;
    font-size: 40px;
  }

  .screen_name {
    font-size: 20px;
    line-height: 10px;
  }

  .time_since {
    font-size: 20px;
    line-height: 10px;
  }
}

@media only screen and (max-width:600px) {
  body {
    font-size: 10px;
    line-height: 10px;
    padding: 0px;
    margin: 10px 10px 0px 10px;
    font-weight: 100;
    font-family: "Helvetica Neue", "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Lato", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }

  #credits {
    font-family: "HelveticaNeue-UltraLight";
    font-size: 12px;
    height: 75px;
  }

  #loading {
    line-height: 1em;
    font-size: 50px; 
  }

  #loading-description {
    font-family: "HelveticaNeue-UltraLight";
    line-height: 1em;
    font-size: 35px;
    padding: 0px;
    padding-top: 10px;
  }

  #container {
    padding-top:0px;
    margin-top: 10px;
    width: 100%;
    font-size: 26px;
  }

  #tweets .tweet {
    width: 90%;
    padding: 3% 5%;
  }

  .screen_name {
    font-size: 20px;
    line-height: 10px;
  }

  .time_since {
    font-size: 20px;
    line-height: 10px;
  }

  .tweet_image {
    padding: 0;
    width: 20%;
    margin: 0;
    float: left;
  }

  .tweet_text {
    padding: 0;
    width: 80%;
  }
}
