body {
  margin: 26px 30px 30px 30px;
  font-family: 'Helvetica Neue', sans-serif;
	font-weight: 200;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	background: #fdfdfd;
	color: black;
	word-wrap: break-word;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

#tweets span {
	float: left;
}



p {
    word-wrap: break-word;
}

#container {
	font-size: 4.5em;
}

.clearboth {
  clear: both;
}

#tweet {
  line-height: 1.2;
	/*text-shadow: 0px 2px #002b36;*/
}

.pending {
  display: none;
	opacity: 0.3;
	position: absolute;
	bottom: 30px;
	font-size: 12px;
	line-height: 12px;
}

.evicted {
  display: none;
	opacity: 0.1;
	position: absolute;
	bottom: 48px;
	font-size: 11px;
	line-height: 12px;
}


.username {
}

.hashtag {
}

.link {
}

.defiantly {
  font-style: italic;
}

.screen_name {
	color: #586e75 !important;
	font-size: 30px;
	clear: left;
}

.time_since {
	font-weight: 100;
	color: #586e75 !important;
	font-size: 30px;
	clear: left;
	opacity: 0.4;
}

#tweets .tweet {
    padding: 10px 20px 10px 20px;
    float: left;
}

.tweet_image {
    width: 48px;
    margin-right: 12px;
    float: left;
    padding-top: 2px;
}

.tweet_image img {
    width: 48px;
    height: 48px;
}

.tweet_text {
    float: left;
}

.content {
    padding: 0px;
}

#loading span {
  text-align:center;
	font-size: 3.5em;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 45%;
  width: 100%;
}

@media only screen and (max-width:600px) {
    #loading span {
      line-height: 30px;
      font-size: 30px; 
    }

    #container {
        width: 100%;
        font-size: 30px;
    }
    #tweets .tweet {
        width: 90%;
        padding: 3% 5%;
    }
    
    .tweet_image {
        padding: 0;
        width: 20%;
        margin: 0;
        float: left;
    }
    
    .tweet_text {
        padding: 0;
        width: 80%;
    }
}
